<div class="clr-row">
    <div class="clr-col-sm-12 clr-col-md-8">
        <h3>Pick Your Star Wars Captain</h3>
        <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading"
        [(clrDgSingleSelected)]="selected">
            <clr-dg-column>Captain Name</clr-dg-column>
            <clr-dg-column>Gender</clr-dg-column>
            <clr-dg-column>Birth Year</clr-dg-column>
            <clr-dg-row *ngFor="let person of people" [clrDgItem]="person">
                <clr-dg-cell>{{person.name}}</clr-dg-cell>
                <clr-dg-cell>{{person.gender}}</clr-dg-cell>
                <clr-dg-cell>{{person.birth_year}}</clr-dg-cell>

            </clr-dg-row>
        
            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} `Captains per page` 
                <clr-dg-pagination #pagination [clrDgPageSize]="10"
                [(clrDgPage)]="currentPage" [clrDgTotalItems]="total">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]"></clr-dg-page-size>
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="clr-col-sm-12 clr-col-md-4">
        <span>card</span>
    </div>
</div>